.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 12px;
}

@media (max-width: 991px) {
    .mobile-image {
      display: block; /* Show image on mobile view */
      margin-bottom: 20px; /* Add spacing below the image */
      position: absolute; /* Make image cover entire width */
      top: 0; /* Align to the top of the viewport */
      left: 0; /* Align to the left of the viewport */
      z-index: -1; /* Send image to the back */
      height:100vw;
    }
    #log{
        margin-top:120vw;
    }
  }
  
  @media (min-width: 992px) {
    .login-container {
      margin-top: 7%; /* Add some top margin for larger screens */
    }
  }