#bannerImg{
    height:15vw;
    -webkit-user-select: none; /* For Chrome, Safari, and other WebKit-based browsers */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
  -webkit-touch-callout: none;
}
#bannerImg2{
    height:12vw;
    width:20vw;
    -webkit-user-select: none; /* For Chrome, Safari, and other WebKit-based browsers */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
  -webkit-touch-callout: none;
}